*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(fondo-transparente-borde-hoja-png_53876-1001713.avif)
    ;
}

header {
    background-color: #7ca17ee5;
    color: #ffffff;
    text-align: center; 
    padding: 20px;
}

h2 { 
    text-align: center;
}

.principal {
    padding: 40px;
    text-align: justify
}

.principal p {
    padding: 30px;
}

.texto, .imagen {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.imagen img {
    width: 140%;
    border-radius: 50px;
}

.info { 
    background-color: rgba(255, 255, 255, 0.707);
    padding: 5%;
    text-align: justify;
}

.info h3 {
    text-align: justify;
    padding: 40px;
}

.info ul {
    padding-bottom:40px;
}           

.info ol {
    padding-bottom: 40px;
}

.imagen2 {
    text-align: center;
    padding: 5px;
}

.imagen2 img { 
    width: 20%;
    border-radius: 50px;
}

h4 {
    text-align: center;
    padding: 20px;
}

.relacionadas {
    background-color: rgba(255, 255, 255, 0.707);
    text-align: justify;
}

.relacionadas h3 {
    text-align: center;
    padding-top: 50px;
}

.relacionadas h4 {
    text-align: center;
    padding-top: 50px;
}

.relacionadas p{
    padding: 30px;
}

footer {
    background-color: #575757;
    color: #ffffff;
    text-align: center; 
    padding: 40px;
}